.click:hover {
    transform: scale(0.9);
    transition-duration: 0.5s;
}

.center {
    margin: auto;
    margin-left: 4%;
    padding: 10px;
}

.columnGrid {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: -5px;
    width: 30%;
}

.search {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    height: 39px;
    transition: width 0.4s ease-in-out;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    text-align: "center";
}

.table-design {
    margin-right: 20px; 
    border: 1px solid white;
    margin-bottom: 10px;
}
.header-background{
    background-color: #2621a0;
}

th{
    font-size: 18px; 
    color: white; 
    font-family: "Lucida Console";
}

.search:focus {
    width: 100%;
}

.custom-modal-style {
    width: 10px;
    height: 100px;
}
.search{
    height:40;
}
.BookReturn{
    margin-right: 21px;
    display: flex;
    justify-content: flex-end;
}
.book{
    width: 85px;
}
.return{
    margin-left: 5px;
    width: 85px;
}
.book-product{
    font-size: 20px;
    font-family: "Lucida Console";
    font-weight: bold;
}
.select-product{
    font-size: 18px;
    font-family: "Lucida Console";
}
.search-root{
    margin-right: 20px;
}
.required{
    color:red;
}
.product-desc{
    font-size: 22px; 
    font-family: "Lucida Console";
}
.input-title{
    font-size: 18px;
    font-family: "Lucida Console";
}
.yes-button{
    width: 108px;
    font-size: 18px;
    font-family: "Lucida Console"; 
    height: 40px; 
    margin-bottom: 10px; 
    background-color: #2621a0; 
    color: white;
}
.no-button{
    width: 108px; 
    margin-top: -2px;
    font-size: 18px; 
    font-family: "Lucida Console"; 
    height: 40px; 
    color: white;
}
.estimated-price{
    border:none;
    font-size: 22px;
    font-family: "Lucida Handwriting"; 
    background-color: white; 
    font-weight: bold;
    margin-bottom: 10px;
}
.is-confirm{
    font-size: 22px; 
    /* font-family: "Lucida Console"; */
    font-weight: normal;
}
.yes-button-confirm{
    /* width: 108px; */
    font-size: 18px;
    font-family: "Lucida Console"; 
    height: 40px; 
    margin-bottom: 10px; 
    background-color: #2621a0; 
    color: white;
}
.no-button-confirm{
    width: 50px; 
    margin-top: -2px;
    font-size: 18px; 
    font-family: "Lucida Console"; 
    height: 40px; 
    color: white;
}
.congrats{
    font-family: "Lucida Handwriting";
    font-size: 22px; 
}

.done{
    font-size: 18px; 
    font-family: "Lucida Console";
    width: 150px;
    height: 40px; 
    background-color: #2621a0;
    color: white;
}
.success{
    color: green;
}
.mileage{
    width: 100%;
}
.return-confirm{
font-size: 18px; 
font-family: "Lucida Console"; 
width: 120px; 
height: 41px; 
background: #2621a0; 
color: white; 
}
.to-margin{
    margin-top:20px;
}

