.click:hover {
    transform: scale(0.9);
    transition-duration: 0.5s;
}

.center {
    margin: auto;
    margin-left: 4%;
    padding: 10px;
}

.columnGrid {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: -5px;
    width: 30%;
}

.search {
    width: 130px;
    border-radius: 4px;
    font-size: 16px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    height: 39px;
    transition: width 0.4s ease-in-out;
    text-align: "center";
    padding-bottom: 5px;
}

.table-design {
    margin-right: 20px; 
    border: 1px solid white;
    margin-bottom: 10px;
}
.header-background{
    background-color: #2621a0;
}

th{
    font-size: 18px; 
    color: white; 
    font-family: "Lucida Console";
}

.search:focus {
    width: 100%;
}

.custom-modal-style {
    width: 10px;
    height: 100px;
}
.search{
    height:40;
}
.BookReturn{
    margin-right: 21px;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.book{
    width: 85px;
}
.return{
    margin-left: 5px;
    width: 85px;
}
.book-product{
    font-size: 20px;
    font-family: "Lucida Console";
    font-weight: bold;
}
.select-product{
    font-size: 18px;
    font-family: "Lucida Console";
}
.search-root{
    margin-right: 20px;
}
.required{
    color:red;
}
.product-desc{
    font-size: 20px; 
    font-family: "Lucida Console";
    background-color: rgb(242, 242, 242);
    padding-top: 15px;
    padding-bottom: 1px;
    padding-left: 10px;
    color:black;
    border-radius: 13px;
    font-weight: normal;
    line-height: 10px;
}
.price-info{
    font-size: 20px; 
    font-family: "Lucida Console";
    padding-top: 15px;
    padding-bottom: 1px;
    padding-left: 10px;
}
.input-title{
    font-size: 18px;
    font-family: "Lucida Console";
}
.yes-button{
    width: 108px;
    font-size: 18px;
    font-family: "Lucida Console"; 
    height: 40px; 
    margin-bottom: 10px; 
    background-color: #2621a0; 
    color: white;
}
.no-button{
    width: 108px; 
    margin-top: -2px;
    font-size: 18px; 
    font-family: "Lucida Console"; 
    height: 40px; 
    color: white;
}
.estimated-price{
    border:none;
    font-size: 22px;
    font-family: "Lucida Handwriting"; 
    background-color: white; 
    font-weight: bold;
    margin-bottom: 10px;
}
.is-confirm{
    font-size: 22px; 
    /* font-family: "Lucida Console"; */
    font-weight: normal;
}
.yes-button-confirm{
    /* width: 108px; */
    font-size: 18px;
    font-family: "Lucida Console"; 
    height: 40px; 
    margin-bottom: 10px; 
    background-color: #2621a0; 
    color: white;
}
.no-button-confirm{
    width: 50px; 
    margin-top: -2px;
    font-size: 18px; 
    font-family: "Lucida Console"; 
    height: 40px; 
    color: white;
}
.congrats{
    font-family: "Lucida Handwriting";
    font-size: 22px; 
}

.done{
    font-size: 18px; 
    font-family: "Lucida Console";
    width: 150px;
    height: 40px; 
    background-color: #2621a0;
    color: white;
}
.success{
    color: green;
}
.mileage{
    width: 100%;
}
.return-confirm{
font-size: 18px; 
font-family: "Lucida Console"; 
width: 120px; 
height: 41px; 
background: #2621a0; 
color: white; 
}
.to-margin{
    margin-top:20px;
}



.App {
    font-family: sans-serif;
    position: relative;
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    color: #14877c;
  }
  .heading {
    color: #14877c;
    border-bottom: 1px solid #14877c;
    margin-bottom: 30px;
    padding-bottom: 10px;
  }
  input {
    width: 40%;
    min-width: 200px;
    border-radius: 10px;
    border: 2px solid #14877c;
    padding: 10px;
    font-size: 14px;
  }
  button {
    height: 40px;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    user-select: none;
    font-weight: 600;
    border-radius: 4px;
    color: #ffffff;
    border: 1px solid #14877c;
    background-color: #14877c;
    cursor: pointer;
    margin: 0px 15px;
    min-width: 100px;
  }
  
  button:hover {
    background: #14877c;
    color: #ffffff;
  }
  
  table {
    width: 100%;
    padding: 1em;
    margin: 20px 0;
    border-collapse: collapse;
    box-shadow: 0 1px 2px 0 #c6e8c9;
  }
  
  thead {
    background-color: #caf0ec;
    font-size: 16px;
  }
  
  th {
    text-align: left;
    padding: 8px;
    background-color: 1px solid #ffffff;
    color: #14877c;
  }
  td {
    text-align: left;
    padding: 8px;
  }
  
  tr {
    height: 50px;
  }
  
  tr:nth-child(even) {
    background-color: #e0e0e0;
  }
  .table-header{
    background-color: red!important;
  }
  
  .email{
      margin-top: -15px;
  }
  .copy-right{
    margin-top: -35px;
  }

